body {
  /* Global Palette */
  --main-background: #1e883f;
  --main-white: #eacfc2;
  --main-black: #13100d;
  --main-gray: #241f1a;
  --main-orange: #ff6735;
  --main-yellow: #ffd53b;
  --main-red: #ff4f49;

  /* Global Styles */
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  color: var(--main-white);
  background-color: var(--main-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1.2em;
  font-family: inherit;
  background-color: var(--main-orange);
  cursor: pointer;
}

/* NavLink */

.current {
  text-decoration: underline;
  text-decoration-color: var(--main-orange);
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 0.5rem;
}

.navlink {
  transition: transform 0.2s;
}

.navlink:hover {
  transform: scale(1.25);
}

.navlink:active {
  transform: scale(1.4);
}
